@inherits LayoutComponentBase

<div class="bg-container">
    <div class="shape blob-1"></div>
    <div class="shape blob-2"></div>
    <div class="shape blob-3"></div>
</div>

@Body

<button class="scroll-to-top" @onclick="ScrollToTop" title="Go to top">
    ⬆️
</button>